<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1> Thank You !</h1>
    </div>
    <header>
        {% include "buttongroup.html" %}
    </header>
    <div class="row">
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <br><br><br><br><br><br><br>
            <h1 style="font-size : 50px">Contact Info</h1>
        </div>
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <br>
            <div class= "description">
                <ul>
                    <br>
                    <li><img src = "{% static 'myprofile/wasap.jpe' %}" style = "width : 30px; height :30px">WhatsApp : 085782004546<br><br>
                    <li><img src = "{% static 'myprofile/line.jpe' %}" style = "width: 30px;height: 30px">Line : adisryn10 <br><br>
                    <li><img src = "{% static 'myprofile/insta.jpe' %}" style = "width: 30px;height: 30px">Instagram : adisryn10<br><br>
                    <li><img src = "{% static 'myprofile/gmail.png' %}" style = "width: 30px;height: 30px">Email : imadeadisuryanugraha@gmail.com<br><br>
                    <li><img src = "{% static 'myprofile/fb.jpe' %}" style = "width: 30px;height: 30px">Facebook : Adi Surya
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>>
