<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <img src= "{% static 'myprofile/foto.jpg' %}">
        <h1 style="font-size:360%">{{name}}</h1>
        <h1 style="font-size:320%">ADI</h1>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- <div class = "btngrup">
                <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/guessbook'"> Buku Tamu </button>
                <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/contact'" class="active"> Contact Info </button>
                <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/swot'"> SWOT </button>
                <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/trackrecords'"> Track Records </button>
                <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> About Me </button>
            </div> -->
            <header>
                {% include "buttongroup.html" %}
            </header>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <br><br><br><br>
            <h1 style="font-size : 50px"> About Me </h1>
        </div>
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <br>
            <div class= "description">
                <br>
                <p> Hello, my name is I Made Adisurya Nugraha. I am an Information System student in Faculty
                of Computer Science, University of Indonesia. Now i am in the third term of my college. 
                In this term, i have to study about web programming called "PPW". Now i am struggling so 
                hard to try make this web, because i never learned about design and web programming
                before. I hope i could finished this subject and get the best score. Wish me luck !
                <br><br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>>
