<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 style="font-size : 50px"> SWOT</h1>
    </div>
    <header>
        {% include "buttongroup.html" %}
    </header>
    <div class = "row">
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <h2>Strength</h2>
            
            <ul>
                <br>
                <li>Dapat bekerja sama baik secara Individu Maupun Kelompok</li>
                <li>Bertanggung jawab dengan diri sendiri dan keputusan yang diambil</li>                                         
                <li> Berfikir dengan matang sebelum mengambil keputusan</li>
                <br>
            </ul>
        </div>
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <h2>Weakness</h2>
            <ul>
                <br>
                <li>Sulit membagi waktu dengan baik</li>
                <li>Terkadang mudah tersinggung</li>
                <br>
            </ul>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <h2>Opportunities</h2>
            <ul>
                <br>
                <li>Rumah dekat dengan Universitas Indonesia</li>
                <li>Keputusan didukung sepenuhnya oleh orang tua</li>
                <li>Memiliki teman yang dapat membantu proses belajar</li>
                <br>
            </ul>
        </div>
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <h2>Threat</h2>
            <ul>
                <br>
                <li>Memiliki beberapa kesibukan</li>
                <li>Belum memiliki banyak pengalaman di tingkat Universitas</li>
                <br>
            </ul>
        </div>
    </div>
 
</body>
</html>>
