<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 style="font-size : 50px"> Add Schedule </h1>
    </div>
    <header>
        {% include "buttongroup.html" %}
    </header>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
            <h2 class="mb-5">{{ title }}</h2>
            <div class="col-sm-12 form-row field-desc">
                <div>
                    <form id="form" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
        
                <!-- <div class="form-group">
                  <label for="id_position">Your Position</label>
                  <input type="text" class="form-control" id="id_position"placeholder="Enter position" name="position" required>
                </div>
                <div class="form-group">
                  <label for="id_title">Title of Project</label>
                  <input type="text" class="form-control" id="id_title"placeholder="Enter title" name="title" required>
                </div>
                <div class="form-group">
                  <label for="id_description">Description of Project</label>
                   <textarea class="form-control" id="id_description" rows="3" name="description" required></textarea>
                </div> -->
                        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>>
