body{
	background-color : lightblue;
}
img{
	display: block;
	width: 180px;
	height: 180px;
	background-image: aqua;
	margin-left: auto;
	margin-right: auto;
}
.header{
	background-color: aqua;
}
ul{
	text-align: left;
}
h1{
	text-align: center;
	display: block;
	font-size: 50%;
	background-color: rgb(52, 197, 173);
}
.form{
	text-align: center;
	font-size: 150%;
	color : black;
}
.isiform{
	text-align: left;
}
h2{
	display: block;
	text-align: center;
	background-color :rgb(52, 197, 173);
}
.col-md-12{
	background-color: rgb(196, 247, 230);
}
.col-md-6{
	color:black;
}
#heading-track{
	color:aliceblue;
}
.track-records{
	display: block;
	text-align: center;
	background-color: rgb(196, 247, 230);
	font-size: 140%;
	color:black;
}
.container{
	background-color:aquamarine	;
	color: aliceblue;
}
.jumbotron{
	background-color:rgb(52, 197, 173) !important;
}
.description{
	background-color: rgb(196, 247, 230);
	font-size: 140%;
	color: black;
	font-family: 'Bershire Swash';
	text-align: center;
}
button{
	float: right;
	align-content: center;
	width: 10%;
	height:10%;
	white-space: normal;
}