<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 style="font-size : 50px"> My Schedule </h1>
    </div>
    <header>
        {% include "buttongroup.html" %}
    </header>
    <br><br>
    <div class="table-responsive">
        {% if schedule %}
        <table class = "table table-hover">
            <thead>
                <th> Name </th>
                <th> Date </th>
                <th> Place</th>
                <th> Category </th>
            </thead>
            {% for data in schedule %}
            <tr>
            <td> {{ data.name }} </td>
            <td> {{ data.date }} </td>
            <td> {{ data.place }} </td>
            <td> {{ data.category }} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2> No Schedule </h2>
        {% endif %}
        <form action="/deleteschedule/" method="POST">
            {% csrf_token %}
            <button type = "submit" class="btn btn danger"> Delete Activity</button>
        </form>
    </div> 
</body>
</html>>
