<!DOCTYPE html>
<html>
<head>
    <title>Track Records</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <div class="row">
        <div class = "col-md-6 col-sm-6 col-xs-6">
            <div class= "track-records">
                <h2 id="heading-track">Achievement</h2>
                <ul>
                    <br>
                    <li>Finalis National Logic Competition 2016</li>
                    <li>Olimpiade Sains Kota Matematika 2015 2016</li>  
                    <li>40 Besar Pesta Sains Nasional bidang Matematika</li> 
                    <li>Penyisihan 2 lomba matematika LOGIKA 2016</li>
                    <br> 
                </ul>

                <h2 id="heading-track">Experience</h2>
                <ul>
                    <br>
                    <li>Anggota MPK SMAN 3 Depok</li>
                    <li>PO Coss Camp SMAN 3 Depok</li>  
                    <li>VPO UI Goes to School</li> 
                    <li>Staff Seminar COMPFEST X</li>
                    <li>PO KMHD Art Competition 2018</li>
                    <br>
                </ul>

                <h2 id="heading-track">Skill</h2>
                <ul>
                    <br>
                    <li>Microsoft Office</li>
                    <li>Java</li>  
                    <li>Python</li> 
                    <li>Programming</li>
                    <li>Music</li>
                    <br>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class = "btngrup">
                <br>
                <header>
                    {% include "buttongroup.html" %}
                </header>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <h1 style="font-size : 50px"> Track Records</h1>  
        </div>
    </div>
</body>
</html>