<style>
button{
	float: right;
	align-content: center;
	width: 14.28%;
	height:10%;
	white-space: normal;
}
</style>

<div class = "btngrup">
    <button type="button" class="btn btn-info" onclick="window.location.href='/addschedule'"> Add Schedule </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/resultschedule'"> My Schedule </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/guessbook'"> Buku Tamu </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/contact'" class="active"> Contact Info </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/swot'"> SWOT </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile/trackrecords'"> Track Records </button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> About Me </button>
</div>