<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 style="font-size : 50px"> Buku Tamu </h1>
    </div>
    <header>
        {% include "buttongroup.html" %}
    </header>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-3" for="name"><br>Name:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                    <br>
                <input type="text" class="form-control" id="text" placeholder="Enter Name" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Date">Tanggal:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="date" class="form-control" id="email" placeholder="Enter date" name="date">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Email:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="subject">Subject:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="subject">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Message:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" class="form-control" id="message" placeholder="Enter message" name="message">
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>>
